<?xml version="1.0"?>
<config>
    <modules>
        <Vladimird_Feedback>
            <version>0.1.0</version>
        </Vladimird_Feedback>
    </modules>
    <admin>
        <routers>
            <feedback>
                <use>admin</use>
                <args>
                    <module>Vladimird_Feedback_Adminhtml</module>
                    <frontName>admin_feedback</frontName>
                </args>
            </feedback>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <feedback module="vladimird_feedback">
                <title>Feedback</title>
                <sort_order>71</sort_order>
                <children>
                    <feed module="vladimird_feedback">
                        <title>Feedback module</title>
                        <sort_order>0</sort_order>
                        <action>admin_feedback/feedback/index</action>
                    </feed>
                </children>
            </feedback>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <vladimird_feedback>
                            <title>Feedback Module</title>
                        </vladimird_feedback>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <update>
                <feedback>
                    <file>vladimird/feedback.xml</file>
                </feedback>
            </update>
        </layout>
    </adminhtml>
    <global>
       <blocks>
            <vladimird_feedback>
                <class>Vladimird_Feedback_Block</class>
            </vladimird_feedback>
        </blocks>
        <helpers>
            <vladimird_feedback><class>Vladimird_Feedback_Helper</class></vladimird_feedback>
        </helpers>
        <models>
            <vladimird_feedback>
                <class>Vladimird_Feedback_Model</class>
                <resourceModel>feedback_mysql4</resourceModel>
            </vladimird_feedback>
            <feedback_mysql4>
                <class>Vladimird_Feedback_Model_Mysql4</class>
                <entities>
                    <feedback>
                        <table>feedback</table>
                    </feedback>
                </entities>                
            </feedback_mysql4>
        </models>
        <resources>
            <feedback_setup>
                <setup>
                    <module>Vladimird_Feedback</module>
                </setup>
            </feedback_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <vladimird_feedback>
                <use>standard</use>
                <args>
                    <module>Vladimird_Feedback</module>
                    <frontName>feedback</frontName>
                </args>
            </vladimird_feedback>
        </routers>
        <layout>
            <updates>
                <vladimird_feedback>
                    <file>vladimird/feedback.xml</file>
                </vladimird_feedback>
            </updates>
        </layout>
    </frontend>
 </config>
