<?xml version="1.0"?>
<config>
    <modules>
        <Staubli_Customattribute>
            <version>1.0.0</version>
        </Staubli_Customattribute>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_view_type_configurable>Staubli_Customattribute_Block_Configurable</product_view_type_configurable>
                </rewrite>
            </catalog>
        </blocks>
        <resources>
            <customattribute_setup>
                <setup>
                    <module>Staubli_Customattribute</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customattribute_setup>
            <customattribute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customattribute_write>
            <customattribute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customattribute_read>
        </resources>
    </global>
</config>
