<?xml version="1.0"?>
<config>
    <modules>
        <Vladimird_Faq>
            <version>0.1.0</version>
        </Vladimird_Faq>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <vladimird_faq before="Mage_Adminhtml">Vladimird_Faq_Adminhtml</vladimird_faq>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <vladimird_faq>
                    <file>vladimird/faq.xml</file>
                </vladimird_faq>
            </updates>
        </layout>
    </adminhtml>
    <global>
       <blocks>
            <vladimird_faq>
                <class>Vladimird_Faq_Block</class>
            </vladimird_faq>
        </blocks>
        <helpers>
            <vladimird_faq><class>Vladimird_Faq_Helper</class></vladimird_faq>
        </helpers>
        <models>
            <vladimird_faq>
                <class>Vladimird_Faq_Model</class>
                <resourceModel>faq_mysql4</resourceModel>
            </vladimird_faq>
            <faq_mysql4>
                <class>Vladimird_Faq_Model_Mysql4</class>
                <entities>
                    <faq>
                        <table>faq</table>
                    </faq>
                </entities>                
            </faq_mysql4>
        </models>
        <resources>
            <faq_setup>
                <setup>
                    <module>Vladimird_Faq</module>
                </setup>
            </faq_setup>
        </resources>
    </global>
    <default>
        <faq>
            <wysiwyg>
                <enabled>enabled</enabled>
            </wysiwyg>
        </faq>
    </default>
    <frontend>
        <routers>
            <vladimird_faq>
                <use>standard</use>
                <args>
                    <module>Vladimird_Faq</module>
                    <frontName>faq</frontName>
                </args>
            </vladimird_faq>
        </routers>
        <layout>
            <updates>
                <vladimird_faq>
                    <file>vladimird/faq.xml</file>
                </vladimird_faq>
            </updates>
        </layout>
    </frontend>
 </config>
