<?xml version="1.0"?>
<config>
    <modules>
        <Htmlandcms_News>
            <version>0.1.0</version>
        </Htmlandcms_News>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <module>
                        <Htmlandcms_News before="Mage_Adminhtml">Htmlandcms_News</Htmlandcms_News>
                    </module>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <news>
                <title>News</title>
                <sort_order>71</sort_order>
                <children>
                    <add_news>
                        <title>Add new news</title>
                        <sort_order>11</sort_order>
                        <action>news/adminhtml_news/new/</action>
                    </add_news>
                    <news_list>
                        <title>News</title>
                        <sort_order>22</sort_order>
                        <action>news/adminhtml_news/</action>
                    </news_list>
                    <add_category>
                        <title>Add new category</title>
                        <sort_order>33</sort_order>
                        <action>news/adminhtml_category/new/</action>
                    </add_category>
                    <news_category>
                        <title>News category</title>
                        <sort_order>44</sort_order>
                        <action>news/adminhtml_category/</action>
                    </news_category>
                </children>
            </news>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <news translate="title" module="news">
                            <title>News</title>
                            <sort_order>100</sort_order>
                        </news>
                        <category translate="title" module="news">
                            <title>Category</title>
                            <sort_order>110</sort_order>
                        </category>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <htmlcms_news translate="title" module="news">
                                            <title>Html-and-cms</title>
                                            <sort_order>100</sort_order>
                                        </htmlcms_news>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <news>
                    <file>news.xml</file>
                </news>
            </updates>
        </layout>
        <translate>
            <modules>
                <Htmlandcms_News>
                    <files>
                        <default>Htmlandcms_News.csv</default>
                    </files>
                </Htmlandcms_News>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <news>
                <use>standard</use>
                <args>
                    <module>Htmlandcms_News</module>
                    <frontName>news</frontName>
                </args>
            </news>
        </routers>
        <layout>
            <updates>
                <news>
                    <file>news.xml</file>
                </news>
            </updates>
        </layout>
        <translate>
            <modules>
                <Htmlandcms_News>
                    <files>
                        <default>Htmlandcms_News.csv</default>
                    </files>
                </Htmlandcms_News>
            </modules>
        </translate>
    </frontend>
    <global>
        <helpers>
            <news>
                <class>Htmlandcms_News_Helper</class>
            </news>
        </helpers>
        <blocks>
            <news>
                <class>Htmlandcms_News_Block</class>
            </news>
            <category>
                <class>Htmlandcms_News_Block</class>
            </category>
        </blocks>
        <models>
            <news>
                <class>Htmlandcms_News_Model</class>
                <resourceModel>news_mysql4</resourceModel>
            </news>
            <category>
                <class>Htmlandcms_News_Model</class>
                <resourceModel>news_category_mysql4</resourceModel>
            </category>
            <news_mysql4>
                <class>Htmlandcms_News_Model_Mysql4</class>
                <entities>
                    <news>
                        <table>news</table>
                    </news>
                    <category>
                        <table>news_category</table>
                    </category>
                </entities>
            </news_mysql4>
        </models>
        <resources>
            <news_setup>
                <setup>
                    <module>Htmlandcms_News</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </news_setup>
            <news_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </news_write>
            <news_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </news_read>
            <category_setup>
                <setup>
                    <module>Htmlandcms_News</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </category_setup>
            <category_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </category_write>
            <category_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </category_read>
        </resources>
    </global>
    <default>
        <news>
            <wysiwyg>
                <enabled>enabled</enabled>
                <class>core/variable_observer</class>
                <method>prepareWysiwygPluginConfig</method>
            </wysiwyg>
        </news>
    </default>
</config>
