<?xml version="1.0"?>
<config>
    <modules>
        <Htmlandcms_Blog>
            <version>0.1.0</version>
        </Htmlandcms_Blog>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <module>
                        <Htmlandcms_Blog before="Mage_Adminhtml">Htmlandcms_Blog</Htmlandcms_Blog>
                    </module>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <cms>
                <children>
                    <blog>
                        <title>Blog</title>
                        <sort_order>78</sort_order>
                        <action>blog/adminhtml_blog</action>
                    </blog>
                    <blog_category>
                        <title>Blog category</title>
                        <sort_order>79</sort_order>
                        <action>blog/adminhtml_category</action>
                    </blog_category>
                </children>
            </cms>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <blog translate="title" module="blog">
                            <title>Blog</title>
                            <sort_order>100</sort_order>
                        </blog>
                        <category translate="title" module="blog">
                            <title>Category</title>
                            <sort_order>110</sort_order>
                        </category>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <htmlcms_section translate="title" module="blog">
                                            <title>Html-and-cms</title>
                                            <sort_order>100</sort_order>
                                        </htmlcms_section>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <blog>
                    <file>blog.xml</file>
                </blog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Htmlandcms_Blog>
                    <files>
                        <default>Htmlandcms_Blog.csv</default>
                    </files>
                </Htmlandcms_Blog>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <blog>
                <use>standard</use>
                <args>
                    <module>Htmlandcms_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
        <layout>
            <updates>
                <blog>
                    <file>blog.xml</file>
                </blog>
            </updates>
        </layout>
        <translate>
            <modules>
                <Htmlandcms_Blog>
                    <files>
                        <default>Htmlandcms_Blog.csv</default>
                    </files>
                </Htmlandcms_Blog>
            </modules>
        </translate>
    </frontend>
    <global>
        <helpers>
            <blog>
                <class>Htmlandcms_Blog_Helper</class>
            </blog>
        </helpers>
        <blocks>
            <blog>
                <class>Htmlandcms_Blog_Block</class>
            </blog>
            <category>
                <class>Htmlandcms_Blog_Block</class>
            </category>
        </blocks>
        <models>
            <blog>
                <class>Htmlandcms_Blog_Model</class>
                <resourceModel>blog_mysql4</resourceModel>
            </blog>
            <category>
                <class>Htmlandcms_Blog_Model</class>
                <resourceModel>blog_category_mysql4</resourceModel>
            </category>
            <blog_mysql4>
                <class>Htmlandcms_Blog_Model_Mysql4</class>
                <entities>
                    <blog>
                        <table>blog</table>
                    </blog>
                    <category>
                        <table>blog_category</table>
                    </category>
                    <comments>
                        <table>blog_comments</table>
                    </comments>
                </entities>
            </blog_mysql4>
        </models>
        <resources>
            <blog_setup>
                <setup>
                    <module>Htmlandcms_Blog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blog_setup>
            <blog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blog_write>
            <blog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blog_read>
            <category_setup>
                <setup>
                    <module>Htmlandcms_Blog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </category_setup>
            <category_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </category_write>
            <category_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </category_read>
            <comments_setup>
                <setup>
                    <module>Htmlandcms_Blog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </comments_setup>
            <comments_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </comments_write>
            <comments_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </comments_read>
        </resources>
    </global>
    <default>
        <blog>
            <wysiwyg>
                <enabled>enabled</enabled>
                <class>core/variable_observer</class>
                <method>prepareWysiwygPluginConfig</method>
            </wysiwyg>
        </blog>
    </default>
</config>
