<?xml version="1.0"?>
<config>
    <modules>
        <RonisBT_Quote>
            <version>0.1.0</version>
        </RonisBT_Quote>
    </modules>
    <adminhtml>
        <layout>
            <update>
                <quote>
                    <file>quote.xml</file>
                </quote>
            </update>
        </layout>
	<acl>
	    <resources>
		<admin>
		    <children>
			<system>
			    <children>
				<config>
				    <children>
					<quote_option>
					    <title>Access rights</title>
					</quote_option>
				    </children>
				</config>
			    </children>
			</system>
		    </children>
		</admin>
	    </resources>
	</acl>
    </adminhtml>
    <global>
		<helpers>
            <quote><class>RonisBT_Quote_Helper</class></quote>
        </helpers>
       <blocks>
            <ronisbt_quote>
                <class>RonisBT_Quote_Block</class>
            </ronisbt_quote>
        </blocks>
    </global>
    <frontend>
        <routers>
            <ronisbt_quote>
                <use>standard</use>
                <args>
                    <module>RonisBT_Quote</module>
                    <frontName>get-a-quote-now</frontName>
                </args>
            </ronisbt_quote>
        </routers>
        <layout>
            <updates>
                <ronisbt_quote>
                    <file>quote.xml</file>
                </ronisbt_quote>
            </updates>
        </layout>
    </frontend>
 </config>
